table {
    border-collapse: collapse;
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 3px solid green;
	
}
th, td {
  text-align: left;
  padding: 15px;
  }
  td{
	  color: blue;
  }